<div
  id="CartDrawerEmptyState"
  class="cart-empty
    {% if cart.items.size > 0 %}
      disp-none-imp
    {% endif %}
  "
>
  <div class="cart-empty__title">{{ settings.empty_cart_subtitle_text }}</div>
  <a
    href="{{ settings.empty_cart_button_link.url }}"
    class="cart-empty__button"
  >
    {{ settings.empty_cart_button_text }}
  </a>
</div>
