{% if filterLabel == 'Category' %}
  {% assign filterCategoryOpen = true %}
  {% assign seeMore = false %}
{% else %}
  {% assign filterCategoryOpen = false %}
  {% assign seeMore = true %}
{% endif %}

{% assign shopAllCollectionFilterIndexWithoutActiveFilters = 1 %}
{% assign renderedFiltersQuantity = 0 %}

<div class="filterWrapper collection__sort-category" data-is-filter-category-open="{{ filterCategoryOpen }}"
     data-is-see-more="{{ seeMore }}">
  <fieldset class="filterWrapperFieldset collection__sort-category-fieldset" data-render="{{ filterLabel }}">
    <div class="collection__sort-category-title-wrap no-select">
      <span class="collection__sort-category-title-text">{{ filterLabel | escape }}</span>
      <div data-filter-category-status="minus" class="collection__sort-category-title-status">
        {% render 'icon-minus', fill: '#2B2B2B', stroke: '#2B2B2B' %}
      </div>
      <div data-filter-category-status="plus" class="collection__sort-category-title-status">
        {% render 'icon-plus', fill: '#2B2B2B', stroke: '#2B2B2B' %}
      </div>
    </div>

    <ul
      class="filterWrapperFieldsetList
        {% if filtersType == 'checkbox' %}
          collection__sort-category-options-grid
        {% else %}
          collection__sort-category-options
        {% endif %}
      "
      role="list"
    >
      {% for value in filter.values %}
        {% assign hideItem = false %}

        {% if value.label contains 'SEARCHANISE_IGNORE' %}
          {% assign hideItem = true %}
        {% endif %}

        {% if hideItem != true %}
          {% if value.count > 0 %}
            {% assign filterQuantityValue = value.count %}

            {% if activeFiltersQuantity == 0 %}
              {% if isShopCollectionFilters and filterLabel == 'Category' %}
                {% if value.label == 'Tops' or value.label == 'Bottoms' or value.label == 'Dresses' or
                  value.label == 'Knitwear' or value.label == 'Intimates' or value.label == 'Swim' or
                  value.label == 'Accessories'
                %}
                  {% render 'filter-item-shop-all', index: shopAllCollectionFilterIndexWithoutActiveFilters,
                    forloop: forloop, value: value, filtersType: filtersType, visibleFiltersQuantity: visibleFiltersQuantity,
                    filter: filter, filterQuantityValue: filterQuantityValue %}
                  {% assign shopAllCollectionFilterIndexWithoutActiveFilters = shopAllCollectionFilterIndexWithoutActiveFilters | plus: 1 %}
                  {% assign renderedFiltersQuantity = renderedFiltersQuantity | plus: 1 %}
                {% endif %}
              {% else %}
                {% render 'filter-item', index: index, forloop: forloop, value: value, filtersType: filtersType,
                  visibleFiltersQuantity: visibleFiltersQuantity, filter: filter, filterQuantityValue: filterQuantityValue %}
                {% assign renderedFiltersQuantity = renderedFiltersQuantity | plus: 1 %}
              {% endif %}

            {% elsif activeFiltersQuantity > 0 %}
              {% render 'filter-item', index: index, forloop: forloop, value: value, filtersType: filtersType,
                visibleFiltersQuantity: visibleFiltersQuantity, filter: filter, filterQuantityValue: filterQuantityValue %}
              {% assign renderedFiltersQuantity = renderedFiltersQuantity | plus: 1 %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    {% if renderedFiltersQuantity > visibleFiltersQuantity %}
      <div class="collection__sort-category-see-more no-select" data-is-see-more-open="false">
        <span class="collection__sort-category-see-more-text">see more</span>
        <span class="collection__sort-category-see-less-text disp-none-imp">see less</span>
      </div>
    {% endif %}
  </fieldset>
</div>
