.addresses__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addresses {
  width: 100%;
  margin: 0 54px 0 40px;
}
@media (max-width: 767px) {
  .addresses {
    margin: 0 20px;
  }
}
