.collection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .collection {
    padding: 0 10px;
  }
}
.collection[data-is-filter-open=true] .collection__filter-open-btn-wrap {
  max-width: 383px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .collection[data-is-filter-open=true] .collection__filter-open-btn-wrap {
    padding: 10px 0 10px;
    margin: 10px 0 10px;
  }
}
.collection[data-is-filter-open=true] .collection__filter-closed-drpd-btn {
  transform: rotate(45deg);
}
@media (max-width: 1023px) {
  .collection[data-is-filter-open=true] .collection__filter-closed-drpd-btn {
    width: 17px;
    height: 17px;
  }
}
.collection[data-is-filter-open=true] .collection__filter-closed-drpd-btn svg {
  width: 17px;
  height: 17px;
}
.collection[data-is-filter-open=false] .collection__filters {
  min-width: 0;
  max-width: 0;
  margin: 10px 0;
  opacity: 0;
}
@media (max-width: 1023px) {
  .collection[data-is-filter-open=false] .collection__filters {
    display: none;
  }
}
.collection__title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 19px;
}
@media (max-width: 1023px) {
  .collection__title-wrap {
    margin: 18px 19px 0;
  }
}
.collection__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1023px) {
  .collection__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
  }
}
.collection__filter-open-btn-wrap {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 19px 18px 19px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .collection__filter-open-btn-wrap {
    padding: 10px 0 10px;
    margin: 13px 0 10px;
  }
}
.collection__filter-block-title {
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: var(--black2);
}
@media (max-width: 1023px) {
  .collection__filter-block-title {
    font-size: 12px;
    line-height: 12px;
  }
}
.collection__filter-closed-drpd-btn {
  display: flex;
  margin-left: 10px;
  margin-bottom: 2px;
}
@media (max-width: 1023px) {
  .collection__filter-closed-drpd-btn {
    width: 10px;
    height: 10px;
  }
}
.collection__content {
  width: 100%;
  display: flex;
}
@media (max-width: 1023px) {
  .collection__content {
    flex-direction: column;
  }
}
.collection__filters {
  min-width: 383px;
  width: 100%;
  max-width: 383px;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  opacity: 1;
  -webkit-transition: min-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), max-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: min-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), max-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: min-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), max-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: min-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), max-width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 1023px) {
  .collection__filters {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 480px) {
  .collection__filters {
    min-width: 100%;
  }
}
.collection__sort-category-fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.collection__sort-category {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 18px;
}
.collection__sort-category:nth-child(1), .collection__sort-category:nth-child(2) {
  margin-bottom: 32px;
}
@media (max-width: 1023px) {
  .collection__sort-category {
    max-width: 315px;
    margin-right: 0;
  }
  .collection__sort-category:nth-child(1) {
    margin-bottom: 24px;
  }
  .collection__sort-category:nth-child(2) {
    margin-bottom: 19px;
  }
}
.collection__sort-category[data-is-filter-category-open=true] [data-filter-category-status=plus] {
  display: none;
}
.collection__sort-category[data-is-filter-category-open=false] [data-filter-category-status=minus],
.collection__sort-category[data-is-filter-category-open=false] .collection__sort-category-options,
.collection__sort-category[data-is-filter-category-open=false] .collection__sort-category-options-grid,
.collection__sort-category[data-is-filter-category-open=false] .collection__sort-category-see-more {
  display: none;
}
.collection__sort-category-title-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.collection__sort-category-title {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.collection__sort-category-title-text {
  display: flex;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1023px) {
  .collection__sort-category-title-text {
    font-size: 12px;
    line-height: 12px;
  }
}
.collection__sort-category-title-status {
  display: flex;
  margin-left: 10px;
  margin-bottom: 2px;
}
@media (max-width: 1023px) {
  .collection__sort-category-title-status {
    margin-bottom: 1px;
  }
}
.collection__sort-category-options {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
@media (max-width: 1023px) {
  .collection__sort-category-options {
    margin-top: 10px;
  }
}
.collection__sort-category-options-grid {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  align-items: flex-start;
  margin-top: 15px;
}
@media (max-width: 1023px) {
  .collection__sort-category-options-grid {
    margin-top: 10px;
  }
}
.collection__sort-category-option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 8px;
}
.collection__sort-category-option_hidden {
  margin-bottom: 0;
}
.collection__sort-category-option-checkbox, .collection__sort-category-option-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.collection__sort-category-option-checkbox + label, .collection__sort-category-option-radio + label {
  display: inline-flex;
  cursor: pointer;
}
.collection__sort-category-option-checkbox + label::before, .collection__sort-category-option-radio + label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--black2);
  border-radius: 0;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1023px) {
  .collection__sort-category-option-checkbox + label::before, .collection__sort-category-option-radio + label::before {
    margin-right: 12px;
  }
}
.collection__sort-category-option-radio + label::before {
  border-radius: 50%;
}
.collection__sort-category-option-checkbox:checked + label::before {
  background-color: var(--white);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='9' height='9' fill='%232b2b2b' id='rect4314' x='2.5' y='2.5' style='stroke-width:0.9' /%3e%3c/svg%3e ");
}
.collection__sort-category-option-radio:checked + label::before {
  background-color: var(--white);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='7' cy='7' r='6.5625' stroke='%23000000' id='circle2' style='stroke-width:0.875' /%3e%3ccircle style='fill:%23000004;stroke-width:0.24' id='path5113' cx='7' cy='7' r='4' /%3e%3c/svg%3e ");
}
.collection__sort-category-option-text {
  display: flex;
  margin-top: 1px;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .collection__sort-category-option-text {
    font-size: 11px;
    line-height: 14px;
  }
}
.collection__sort-category-see-more {
  width: 100%;
  display: flex;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .collection__sort-category-see-more {
    margin-top: 5px;
  }
}
.collection__sort-category-see-more-text, .collection__sort-category-see-less-text {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .collection__sort-category-see-more-text, .collection__sort-category-see-less-text {
    font-size: 11px;
    line-height: 11px;
  }
}
.collection__products-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.collection__products {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  gap: 3.505291vw 1.3227513vw;
}
@media (max-width: 1023px) {
  .collection__products {
    grid-template: 1fr/1fr 1fr;
    gap: 30px 10px;
  }
}
@media (max-width: 280px) {
  .collection__products {
    grid-template: 1fr/1fr;
    gap: 22px 10px;
  }
}
.collection__item {
  display: block;
}
.collection__item-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collection__img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
@media (min-width: 1025px) {
  .collection__img-wrap:hover .collection__item-bg-img-hover {
    visibility: visible !important;
  }
  .collection__img-wrap:hover .collection__quick-add-panel {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.collection__quick-add-panel {
  position: absolute;
  bottom: -1px;
  z-index: 200;
  width: 100%;
  opacity: 0;
  display: flex;
  visibility: hidden;
  transform: translateY(100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 1023px) {
  .collection__quick-add-panel {
    padding: 10px;
  }
}
@media (max-width: 1023px) {
  .collection__quick-add-panel_show-mobile {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.collection__size-variants {
  display: flex;
  flex-wrap: wrap;
}
.collection__size-variant-text, .collection__add-to-cart, .collection__add-to-cart-loader {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--black1);
}
.collection__size-variant-text {
  margin-left: 15px;
  font-size: 12px;
  line-height: 16.8px;
  cursor: pointer;
}
.collection__size-variant-text.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.collection__size-variant-text:first-child {
  margin-left: 0;
}
.collection__size-variant-text_selected {
  font-weight: 500;
  text-decoration: underline;
}
.collection__add-to-cart {
  display: flex;
  margin-top: 2px;
  font-size: 11px;
  line-height: 15.4px;
  text-decoration: underline;
  cursor: pointer;
}
.collection__add-to-cart-loader {
  display: none;
  margin-top: 2px;
  font-size: 11px;
  line-height: 15.4px;
}
.collection__item-quick-add-btn-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 150;
  padding: 1.2722646vw;
  cursor: pointer;
}
@media (max-width: 767px) {
  .collection__item-quick-add-btn-wrap {
    padding: 20px 5px 5px 20px;
  }
}
.collection__item-quick-add-btn {
  display: none;
}
@media (max-width: 1024px) {
  .collection__item-quick-add-btn {
    width: 3.8167939vw;
    height: 3.8167939vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--gray3);
  }
  .collection__item-quick-add-btn svg {
    width: 1.7811705vw;
    height: 1.7811705vw;
  }
}
@media (max-width: 1024px) and (max-width: 575px) {
  .collection__item-quick-add-btn {
    width: 27px;
    height: 27px;
  }
  .collection__item-quick-add-btn svg {
    width: 7px;
    height: 7px;
  }
}
.collection__item-link {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.collection__item-bg-imgs-wrap {
  padding-top: 148.735%;
  overflow: visible;
  display: block;
  height: 0;
}
@media (max-width: 1023px) {
  .collection__item-bg-imgs-wrap {
    padding-top: 149.21%;
  }
}
.collection__item-bg-img, .collection__item-bg-img-hover {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  font-size: 0;
  line-height: 1;
  background-color: var(--gray2);
  will-change: transform, opacity;
}
.collection__item-bg-img-hover {
  visibility: hidden;
}
.collection__item-text-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection__item-title {
  display: flex;
  margin: 10px 10px 0 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--black1);
}
@media (max-width: 1023px) {
  .collection__item-title {
    font-size: 11px;
  }
}
.collection__item-fabric-title {
  display: flex;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--black1);
}
@media (max-width: 1023px) {
  .collection__item-fabric-title {
    font-size: 11px;
  }
}
.collection__item-price {
  display: flex;
  margin: 4px 10px 0 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 183%;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--black1);
}
@media (max-width: 1023px) {
  .collection__item-price {
    font-size: 11px;
    margin: 0 10px;
  }
}
.collection__item-colors-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}
@media (max-width: 1023px) {
  .collection__item-colors-wrap {
    margin-top: -1px;
  }
}
.collection__item-color-wrap {
  display: flex;
  padding: 4px 7.5px;
  cursor: pointer;
}
@media (min-width: 1440px) {
  .collection__item-color-wrap:hover .collection__item-tooltip-text {
    visibility: visible !important;
  }
}
@media (max-width: 1023px) {
  .collection__item-color-wrap {
    padding: 6px 5px;
  }
}
@media (max-width: 1023px) {
  .collection__item-color-wrap_hide-mobile {
    display: none;
  }
}
.collection__item-color-cont {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--black2);
}
@media (max-width: 1023px) {
  .collection__item-color-cont {
    width: 15px;
    height: 15px;
  }
}
.collection .collection__item-color {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--white);
}
@media (max-width: 1023px) {
  .collection .collection__item-color {
    border: 1px solid var(--white);
  }
}
.collection__preorder-wrap {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}
.collection__preorder {
  display: flex;
  border: 1px solid var(--black1);
  border-radius: 4px;
  cursor: pointer;
}
.collection__preorder-text {
  display: flex;
  padding: 0 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 15.8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black1);
}
.collection__show-more-colors-btn {
  display: none;
  padding: 8px 10px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .collection__show-more-colors-btn {
    display: flex;
  }
}
.collection__show-more-colors-btn-text {
  font-size: 9px;
  line-height: 9px;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray2);
}
.collection__item-hidden-photos {
  display: none;
}
.collection__see-more-btn-wrap {
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px 10px 47px;
}
@media (max-width: 1023px) {
  .collection__see-more-btn-wrap {
    margin: 68px 10px 15px;
  }
}
.collection__see-more-btn {
  display: flex;
  border: 1px solid var(--black2);
  border-radius: 0;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}
.collection__see-more-btn:hover {
  background: var(--black2);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.collection__see-more-btn:hover span {
  color: var(--white);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.collection__see-more-text {
  padding: 10px 27px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black2);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 1023px) {
  .collection__see-more-text {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.collection__see-more-loader {
  width: 30px;
  height: 30px;
  border: 3px solid #dfdfdf;
  border-top: 3px solid var(--black1);
  border-radius: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}