#content > .container {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.shopify-policy__container {
  max-width: 416px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.shopify-policy__container h1, .shopify-policy__container h2, .shopify-policy__container h3, .shopify-policy__container h4, .shopify-policy__container h5, .shopify-policy__container h6, .shopify-policy__container h1 span, .shopify-policy__container h2 span, .shopify-policy__container h3 span, .shopify-policy__container h4 span, .shopify-policy__container h5 span, .shopify-policy__container h6 span {
  font-weight: 500;
  text-transform: uppercase;
}

.shopify-policy__title h1 {
  font-size: 36px;
  line-height: 50.4px;
  text-align: center;
  margin-bottom: 27px;
}
@media (max-width: 767px) {
  .shopify-policy__title h1 {
    margin-bottom: 21px;
    font-size: 28px;
    line-height: 39.2px;
  }
}

.shopify-policy__body h2 {
  margin-bottom: 27px;
}
@media (max-width: 767px) {
  .shopify-policy__body h2 {
    margin-bottom: 21px;
  }
}
.shopify-policy__body h2 span {
  font-size: 36px;
  line-height: 50.4px;
  text-align: center;
}
@media (max-width: 767px) {
  .shopify-policy__body h2 span {
    margin-bottom: 21px;
    font-size: 28px;
    line-height: 39.2px;
  }
}
.shopify-policy__body h3, .shopify-policy__body h4, .shopify-policy__body h5, .shopify-policy__body h6 {
  font-size: 22px;
  line-height: 30.8px;
  margin-top: 33px;
  margin-bottom: 16.5px;
}
@media (max-width: 767px) {
  .shopify-policy__body h3, .shopify-policy__body h4, .shopify-policy__body h5, .shopify-policy__body h6 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
.shopify-policy__body h3 span, .shopify-policy__body h4 span, .shopify-policy__body h5 span, .shopify-policy__body h6 span {
  font-size: 22px;
  line-height: 30.8px;
}
@media (max-width: 767px) {
  .shopify-policy__body h3 span, .shopify-policy__body h4 span, .shopify-policy__body h5 span, .shopify-policy__body h6 span {
    font-size: 20px;
    line-height: 28px;
  }
}
.shopify-policy__body div, .shopify-policy__body div a {
  font-size: 12px;
  line-height: 19.2px;
  letter-spacing: 0.16px;
}
.shopify-policy__body p, .shopify-policy__body p span, .shopify-policy__body p a {
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  margin-bottom: 10px;
}
.shopify-policy__body a {
  text-decoration: underline;
  text-decoration-color: var(--black2);
}
.shopify-policy__body a:hover {
  color: var(--gray);
}