{{ 'about-us.css' | asset_url | stylesheet_tag }}

<div class="about-us">
  <img
    src="{{ section.settings.image | img_url: 'master' }}"
    alt="{{ section.settings.image.alt }}"
    class="about-us__image"
  >
  <div class="about-us__text-wrap">
    <span class="about-us__text">
      {{ section.settings.text }}
    </span>
  </div>
</div>

{% schema %}
{
  "name": "About us",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Text"
    }
  ],
  "presets": [
    {
      "name": "About us"
    }
  ]
}
{% endschema %}
