{{ 'flickity-banner.css' | asset_url | stylesheet_tag }}

{% if section.settings.image != blank %}
  <div id ="CollectionBanner-{{ section.id }}" class="collection-banner" style="background-color: {{ section.settings.bg_color }};">
    {% if section.settings.image_mobile != blank %}
      {% render 'image',
              image: section.settings.image,
              sizes: '100%',
              widths: '1280, 1920',
              class: 'collection-banner__img desktop'
      %}
      {% render 'image',
              image: section.settings.image_mobile,
              sizes: '100%',
              widths: '480, 640, 960',
              class: 'collection-banner__img mobile'
      %}

    {% else %}
      {% render 'image',
              image: section.settings.image,
              sizes: '100%',
              widths: '480, 640, 960, 1280, 1920',
              class: 'collection-banner__img'
      %}
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Collection banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "image_mobile",
      "type": "image_picker",
      "label": "Image mobile"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Collection banner"
    }
  ]
}
{% endschema %}
