{{ 'returns-and-exchanges.css' | asset_url | stylesheet_tag }}

<div class="returns">
  {{ page.content }}
</div>

{% schema %}
{
  "name": "Returns and exchanges",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Returns and exchanges"
    }
  ]
}
{% endschema %}
