<div class="cart-flyover-you-may-also-like">
  <div class="cart-flyover-you-may-also-like__title">You May Also like</div>
  <div class="cart-flyover-you-may-also-like-swiper">
    <div class="swiper-wrapper">
      <a href="" class="swiper-slide cart-flyover-you-may-also-like-swiper-item">
        <div class="cart-flyover-you-may-also-like-swiper-item-container">
          <div class="cart-flyover-you-may-also-like-swiper-item__image-container">
            <img
              src="https://cdn.shopify.com/s/files/1/0699/9159/6253/files/the-cropped-long-sleeve-thermal-white-shirts-eterne-793597.jpg?v=1716807878"
              width="master"
              height="master"
              class="cart-flyover-you-may-also-like-swiper-item__image"
            >
          </div>
          <div class="cart-flyover-you-may-also-like-swiper-item__text">Long Sleeve crewneck Maxi Dress Clay</div>
        </div>
      </a>

      <a href="" class="swiper-slide cart-flyover-you-may-also-like-swiper-item">
        <div class="cart-flyover-you-may-also-like-swiper-item-container">
          <div class="cart-flyover-you-may-also-like-swiper-item__image-container">
            <img
              src="https://cdn.shopify.com/s/files/1/0699/9159/6253/files/the-cropped-long-sleeve-thermal-white-shirts-eterne-793597.jpg?v=1716807878"
              width="master"
              height="master"
              class="cart-flyover-you-may-also-like-swiper-item__image"
            >
          </div>
          <div class="cart-flyover-you-may-also-like-swiper-item__text">Long Sleeve crewneck Maxi Dress Clay</div>
        </div>
      </a>

      <a href="" class="swiper-slide cart-flyover-you-may-also-like-swiper-item">
        <div class="cart-flyover-you-may-also-like-swiper-item-container">
          <div class="cart-flyover-you-may-also-like-swiper-item__image-container">
            <img
              src="https://cdn.shopify.com/s/files/1/0699/9159/6253/files/the-cropped-long-sleeve-thermal-white-shirts-eterne-793597.jpg?v=1716807878"
              width="master"
              height="master"
              class="cart-flyover-you-may-also-like-swiper-item__image"
            >
          </div>
          <div class="cart-flyover-you-may-also-like-swiper-item__text">Long Sleeve crewneck Maxi Dress Clay</div>
        </div>
      </a>

      <a href="" class="swiper-slide cart-flyover-you-may-also-like-swiper-item">
        <div class="cart-flyover-you-may-also-like-swiper-item-container">
          <div class="cart-flyover-you-may-also-like-swiper-item__image-container">
            <img
              src="https://cdn.shopify.com/s/files/1/0699/9159/6253/files/the-cropped-long-sleeve-thermal-white-shirts-eterne-793597.jpg?v=1716807878"
              width="master"
              height="master"
              class="cart-flyover-you-may-also-like-swiper-item__image"
            >
          </div>
          <div class="cart-flyover-you-may-also-like-swiper-item__text">Long Sleeve crewneck Maxi Dress Clay</div>
        </div>
      </a>
    </div>
    <div class="cart-flyover-you-may-also-like-swiper__button cart-flyover-you-may-also-like-swiper__button-prev">
      <img src="{{ 'recent-products-arrow-left.png' | asset_img_url }}">
    </div>
    <div class="cart-flyover-you-may-also-like-swiper__button cart-flyover-you-may-also-like-swiper__button-next">
      <img src="{{ 'recent-products-arrow-right.png' | asset_img_url }}">
    </div>
  </div>
</div>
