.collection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .collection {
    padding: 0 10px;
  }
}
.collection__title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 19px;
}
@media (max-width: 1023px) {
  .collection__title-wrap {
    margin: 18px 19px 18px;
  }
}
.collection__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1023px) {
  .collection__title {
    font-size: 16px;
    line-height: 19.2px;
  }
}
.collection__filter-open-btn-wrap {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 19px 18px 19px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .collection__filter-open-btn-wrap {
    margin: 0 0 24px 0;
  }
}
.collection__filter-block-title {
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: var(--black2);
}
@media (max-width: 1023px) {
  .collection__filter-block-title {
    font-size: 12px;
    line-height: 12px;
  }
}
.collection__filter-closed-drpd-btn {
  display: flex;
  margin-left: 10px;
}
@media (max-width: 1023px) {
  .collection__filter-closed-drpd-btn {
    width: 10px;
    height: 10px;
    margin-bottom: 2px;
  }
}
.collection__products {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  gap: 3.505291vw 1.3227513vw;
}
@media (max-width: 1023px) {
  .collection__products {
    grid-template: 1fr/1fr 1fr;
    gap: 30px 10px;
  }
}
@media (max-width: 280px) {
  .collection__products {
    grid-template: 1fr/1fr;
    gap: 22px 10px;
  }
}
.collection__item {
  display: block;
}
.collection__item-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collection__img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
@media (min-width: 1025px) {
  .collection__img-wrap:hover .collection__item-bg-img-hover {
    visibility: visible !important;
  }
}
.collection__item-link {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.collection__item-bg-imgs-wrap {
  padding-top: 148.735%;
  overflow: visible;
  display: block;
  height: 0;
}
@media (max-width: 1023px) {
  .collection__item-bg-imgs-wrap {
    padding-top: 149.21%;
  }
}
.collection__item-bg-img, .collection__item-bg-img-hover {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  font-size: 0;
  line-height: 1;
  background-color: var(--gray2);
  will-change: transform, opacity;
}
.collection__item-bg-img-hover {
  visibility: hidden;
}
.collection__item-text-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection__item-title {
  display: flex;
  margin: 10px 10px 0 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--black1);
}
@media (max-width: 1023px) {
  .collection__item-title {
    font-size: 11px;
  }
}
.collection__item-fabric-title {
  display: flex;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.8px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--black1);
}
@media (max-width: 1023px) {
  .collection__item-fabric-title {
    font-size: 11px;
  }
}
.collection__item-price {
  display: flex;
  margin: 4px 10px 0 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--black1);
}
@media (max-width: 1023px) {
  .collection__item-price {
    font-size: 11px;
    margin: 0 10px;
  }
}
.collection__item-hidden-photos {
  display: none;
}
.collection__see-more-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 106px 10px 57px;
}
@media (max-width: 1023px) {
  .collection__see-more-btn-wrap {
    margin: 78px 10px 25px;
  }
}
.collection__see-more-btn {
  display: flex;
  border: 1px solid var(--black2);
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.collection__see-more-btn:hover {
  background: var(--black2);
  transition: all 0.3s ease-in-out;
}
.collection__see-more-btn:hover span {
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.collection__see-more-text {
  padding: 10px 27px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black2);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1023px) {
  .collection__see-more-text {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
  }
}