#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us {
  width: 100%;
}
@media (max-width: 767px) {
  .contact-us {
    margin-top: 21px;
  }
}
.contact-us__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 20px;
}
@media (max-width: 767px) {
  .contact-us__content {
    padding: 0 20px;
  }
}
.contact-us__title {
  margin-bottom: 29px;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .contact-us__title {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.contact-us__contact {
  display: flex;
  margin-bottom: 27px;
}
.contact-us__contact:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .contact-us__contact {
    margin-bottom: 22px;
  }
}
.contact-us__desc, .contact-us__link {
  font-size: 14px;
  line-height: 22.4px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .contact-us__desc, .contact-us__link {
    font-size: 12px;
    line-height: 16px;
  }
}
.contact-us__link {
  text-decoration: underline;
}
.contact-us__link:hover {
  color: var(--gray);
}
