body {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.faq {
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .faq {
    padding: 0 16px;
  }
}
.faq__header {
  margin-top: 23px;
}
@media (max-width: 767px) {
  .faq__header {
    margin-top: 0;
  }
}
.faq__header-title {
  margin-top: 52px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .faq__header-title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 26px;
  }
}
.faq__header-desc {
  margin-top: 33px;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 23.6px;
  letter-spacing: 0.4px;
  text-align: center;
}
.faq__header-desc a {
  text-decoration: underline;
}
.faq__header-desc a.link-default {
  text-decoration: none;
}
.faq__header-desc_small-top-margin {
  margin-top: 24px;
}
@media (max-width: 767px) {
  .faq__header-desc {
    margin-top: 16px;
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 16px;
  }
  .faq__header-desc_small-top-margin {
    margin-top: 18px;
  }
}
.faq__questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__question-category-title {
  display: flex;
  margin-top: 72px;
  margin-bottom: 16px;
}
.faq__question-category-title:first-child {
  margin-top: 48px;
}
@media (max-width: 767px) {
  .faq__question-category-title:first-child {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .faq__question-category-title {
    margin-top: 50px;
    margin-bottom: 14px;
  }
}
.faq__question-category-title-text {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .faq__question-category-title-text {
    font-size: 16px;
    line-height: 20px;
  }
}
.faq__item {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}
.faq__item_first-group-item {
  margin-top: 19px;
}
.faq__item:last-child {
  margin-bottom: 75px;
}
.faq__question {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.faq__question-text {
  display: flex;
  font-size: 16px;
  line-height: 19.6px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .faq__question-text {
    font-size: 14px;
    line-height: 18px;
  }
}
.faq__answer {
  margin-top: 18px;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0.4px;
  text-align: center;
}
.faq__answer a {
  text-decoration: underline;
}
.faq__answer a.link-default {
  text-decoration: none;
}
.faq__answer_small-top-margin {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .faq__answer {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
  }
}
