body {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.faq {
  max-width: 723.31px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}
.faq__header {
  margin-top: 23px;
}
.faq__header-title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: uppercase;
}
.faq__header-desc {
  margin-top: 30px;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0.4px;
  text-align: center;
}
.faq__header-desc a {
  text-decoration: underline;
}
.faq__header-desc a.link-default {
  text-decoration: none;
}
.faq__header-desc_small-top-margin {
  margin-top: 10px;
}
.faq__questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__question-category-title {
  display: flex;
  margin-top: 69px;
}
.faq__question-category-title:first-child {
  margin-top: 57px;
}
.faq__question-category-title-text {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: uppercase;
}
.faq__item {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}
.faq__item_first-group-item {
  margin-top: 19px;
}
.faq__item:last-child {
  margin-bottom: 75px;
}
.faq__question {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.faq__question-text, .faq__question-btn {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.faq__question-btns {
  display: flex;
  margin-left: 5px;
}
.faq__answer {
  margin-top: 3px;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0.4px;
  text-align: center;
}
.faq__answer a {
  text-decoration: underline;
}
.faq__answer a.link-default {
  text-decoration: none;
}
.faq__answer_small-top-margin {
  margin-top: 10px;
}
