#content > .container {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.shopify-policy__container {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .shopify-policy__container {
    padding: 0 16px;
  }
}
.shopify-policy__container h1, .shopify-policy__container h2, .shopify-policy__container h3, .shopify-policy__container h4, .shopify-policy__container h5, .shopify-policy__container h6, .shopify-policy__container h1 span, .shopify-policy__container h2 span, .shopify-policy__container h3 span, .shopify-policy__container h4 span, .shopify-policy__container h5 span, .shopify-policy__container h6 span {
  font-weight: 400;
  text-transform: uppercase;
}

.shopify-policy__title h1 {
  margin-top: 52px;
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.4px;
  text-align: center;
}
@media (max-width: 767px) {
  .shopify-policy__title h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 26px;
  }
}

.shopify-policy__body h2, .shopify-policy__body h3, .shopify-policy__body h4, .shopify-policy__body h5, .shopify-policy__body h6 {
  margin-top: 28px;
  margin-bottom: 16.5px;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.4px;
}
.shopify-policy__body h2 span, .shopify-policy__body h3 span, .shopify-policy__body h4 span, .shopify-policy__body h5 span, .shopify-policy__body h6 span {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.4px;
}
@media (max-width: 767px) {
  .shopify-policy__body h2, .shopify-policy__body h3, .shopify-policy__body h4, .shopify-policy__body h5, .shopify-policy__body h6 {
    margin-top: 13px;
    font-size: 14px;
    line-height: 18px;
  }
  .shopify-policy__body h2 span, .shopify-policy__body h3 span, .shopify-policy__body h4 span, .shopify-policy__body h5 span, .shopify-policy__body h6 span {
    margin-top: 13px;
    font-size: 14px;
    line-height: 18px;
  }
}
.shopify-policy__body p, .shopify-policy__body p span, .shopify-policy__body p a, .shopify-policy__body div, .shopify-policy__body div a {
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0.14px;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .shopify-policy__body p, .shopify-policy__body p span, .shopify-policy__body p a, .shopify-policy__body div, .shopify-policy__body div a {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 16px;
  }
}
.shopify-policy__body a {
  text-decoration: underline;
  text-decoration-color: var(--black2);
}
.shopify-policy__body a:hover {
  color: var(--gray);
}
