#content > .container {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.shopify-policy__container {
  max-width: 723.31px;
  width: 66.666%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 1120px) {
  .shopify-policy__container {
    width: 100%;
  }
}
.shopify-policy__container h1, .shopify-policy__container h2, .shopify-policy__container h3, .shopify-policy__container h4, .shopify-policy__container h5, .shopify-policy__container h6, .shopify-policy__container h1 span, .shopify-policy__container h2 span, .shopify-policy__container h3 span, .shopify-policy__container h4 span, .shopify-policy__container h5 span, .shopify-policy__container h6 span {
  font-weight: 500;
  text-transform: uppercase;
}

.shopify-policy__title h1 {
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-align: center;
}

.shopify-policy__body {
  /*h2 {
    margin-bottom: 27px;

    @include for-mobile {
      margin-bottom: 21px;
    }

    span {
      font-size: 36px;
      line-height: 50.4px;
      text-align: center;

      @include for-mobile {
        margin-bottom: 21px;
        font-size: 28px;
        line-height: 39.2px;
      }
    }
  }*/
}
.shopify-policy__body h2, .shopify-policy__body h3, .shopify-policy__body h4, .shopify-policy__body h5, .shopify-policy__body h6 {
  margin-top: 33px;
  margin-bottom: 16.5px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.4px;
}
.shopify-policy__body h2 span, .shopify-policy__body h3 span, .shopify-policy__body h4 span, .shopify-policy__body h5 span, .shopify-policy__body h6 span {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.4px;
}
.shopify-policy__body p, .shopify-policy__body p span, .shopify-policy__body p a, .shopify-policy__body div, .shopify-policy__body div a {
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0.14px;
  margin-bottom: 10px;
}
.shopify-policy__body a {
  text-decoration: underline;
  text-decoration-color: var(--black2);
}
.shopify-policy__body a:hover {
  color: var(--gray);
}
