.returns {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .returns {
    padding: 0 16px;
  }
}
.returns h1, .returns h2, .returns h3, .returns h4, .returns h5, .returns h6, .returns h1 span, .returns h2 span, .returns h3 span, .returns h4 span, .returns h5 span, .returns h6 span {
  font-weight: 400;
  text-transform: uppercase;
}
.returns h1 {
  margin-top: 72px;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.4px;
  text-align: center;
}
@media (max-width: 767px) {
  .returns h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 26px;
  }
}
.returns h2, .returns h3, .returns h4, .returns h5, .returns h6 {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.4px;
  text-align: center;
}
@media (max-width: 767px) {
  .returns h2, .returns h3, .returns h4, .returns h5, .returns h6 {
    margin-top: 13px;
    font-size: 14px;
    line-height: 18px;
  }
}
.returns p, .returns p span, .returns p a {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  text-align: center;
}
@media (max-width: 767px) {
  .returns p, .returns p span, .returns p a {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 16px;
  }
}
.returns div, .returns div a {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  text-align: center;
}
@media (max-width: 767px) {
  .returns div, .returns div a {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 16px;
  }
}
.returns a {
  text-decoration: underline;
}
.returns a:hover {
  color: var(--gray);
}
