@import "mixins";

.account__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  width: 100%;
  margin: 0 54px 0 40px;

  @include for-mobile {
    margin: 0 20px;
  }
}
