@import "mixins";

.collage {
  width: 100%;
  margin: -1px auto 0;

  .only-desk {
    display: flex;

    @include for-mobile {
      display: none;
    }
  }

  .only-mob {
    display: none;

    @include for-mobile {
      display: flex;
    }
  }

  &__cover-video-image {
    height: 100%;
    width: 100%;
    order: 10;
    position: absolute;

    video {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .play-icon {
    width: 120px;
    height: 120px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include for-mobile {
      width: 50px;
      height: 50px;
    }

    .icon-play-video {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .media {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;

    &__video-wrapper {
      display: flex;
      position: relative;
      height: 100%;
      cursor: pointer;
    }

    img, video {
      object-fit: cover;
      max-width: 100%;
      height: 100%;
    }
  }

  &__one-image-row,
  .media__video-wrapper {
    width: 100%;

    &.play {
      .play-icon, .caption, .collage__cover-video-image {
        visibility: hidden;
        order: -1;
      }
    }
  }

  &__one-image-row,
  &__two-images-row {
    &:hover {
      @include button-hover;
    }

    .caption {
      position: absolute;
      left: 40px;
      bottom: 41px;
      display: flex;
      flex-direction: column;
      width: 150px;

      @include for-mobile {
        left: 20px;
        bottom: 20px;
      }

      &__text {
        margin-bottom: 10px;

        &, p {
          color: var(--white);
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          letter-spacing: 0.02em;
          text-transform: uppercase;

          @include for-mobile {
            font-size: 20px;
            line-height: 23px;
          }
        }
      }

      &__link {
        color: var(--white);
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1.153px;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid var(--white);
        padding: 10px 22px;
        transition: all 0.2s;
        width: max-content;

        @include for-mobile {
          font-size: 12px;
          line-height: 16px;
          padding: 8px 20px;
        }
      }
    }
  }

  &__one-image-row {
    display: flex;
    position: relative;
    overflow: hidden;

    &.portrait {
      aspect-ratio: 5 / 4;

      @include for-tablet {
        aspect-ratio: 4 / 5;
      }
    }

    &.landscape {
      aspect-ratio: 16 / 9;

      @include for-tablet {
        aspect-ratio: 5 / 4;
      }

      @include for-mobile {
        aspect-ratio: 1 / 1;
      }
    }

    img, video {
      object-fit: cover;
      max-width: 100%;
      height: 100%;
    }
  }

  &__two-images-row {
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &-inner {
      display: flex;
      height: 100%;

      @include for-tablet {
        min-width: 160%;
      }
    }

    &.portrait {
      height: 100%;
      aspect-ratio: 6 / 4;

      @include for-tablet {
        aspect-ratio: 4 / 5;
      }
    }

    &.landscape {
      height: 100%;
      aspect-ratio: 16 / 9;

      @include for-tablet {
        aspect-ratio: 5 / 4;
      }
    }

    .media {
      width: 50%;

      @include for-tablet {
        display: flex;
      }
    }

    .play-icon {
      width: 50px;
      height: 50px;
    }
  }

  &__three-images-row {
    overflow-x: auto;
    overflow-y: hidden;
    aspect-ratio:  6 / 3;

    @include for-tablet {
      aspect-ratio:  3 / 4;
    }

    &-inner {
      display: flex;
      width: 100%;
      height: 100%;

      @include for-tablet {
        min-width: 240%;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .media {
      width: calc(100% / 3);
      height: 100%;

      @include for-tablet {
        display: flex;
        width: auto;
      }
    }

    .image-item {
      height: 100%;
      position: relative;
      overflow: hidden;
      width: calc(100% / 3);

      //@include for-tablet {
      //  height: 75vh;
      //}

      .image-wrapper {
        height: 100%;

        @include for-tablet {
          display: block;
          //width: 80vw;
        }

        img {
          object-fit: cover;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .play-icon {
      width: 50px;
      height: 50px;
    }

    .caption {
      position: absolute;
      bottom: 29px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      flex-direction: column;
      order: 15;

      @include for-tablet {
        left: 20px;
        bottom: 20px;
        align-items: start;
        transform: none;
      }

      &__text p {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;
        color: var(--white);

        @include for-tablet {
          font-size: 20px;
        }
      }

      &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: center;
        color: var(--white);
        width: max-content;

        @include for-tablet {
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }
}
