@import "mixins";

.contact-us {
  width: 100%;
  margin-top: 40px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 20px;

    @include for-mobile {
      padding: 50px 20px;
    }
  }

  &__title {
    margin-bottom: 21px;
    font-size: 28px;
    font-weight: 500;
    line-height: 39.1px;
    text-transform: uppercase;

    @include for-mobile {
      margin-bottom: 16.5px;
      font-size: 22px;
    }
  }

  &__contact {
    display: flex;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__desc, &__link {
    font-size: 14px;
    line-height: 22.4px;
    text-transform: uppercase;
  }

  &__link {
    text-decoration: underline;

    &:hover {
      color: var(--gray);
    }
  }
}
