@import "mixins";

body {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.faq {
  max-width: 615px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;

  &__header {
    margin-top: 23px;

    &-title {
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0.4px;
      text-align: center;
      text-transform: uppercase;
    }

    &-desc {
      font-size: 14px;
      line-height: 19.6px;
      letter-spacing: 0.4px;
      margin-top: 30px;
      margin-right: 40px;
      margin-bottom: 11px;

      a {
        text-decoration: underline;
      }

      a.link-default {
        text-decoration: none;
      }

      &_small-top-margin {
        margin-top: 10px;
      }
    }
  }

  &__questions {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__question-category-title {
    display: flex;
    margin-top: 69px;

    &:first-child {
      margin-top: 57px;
    }

    &-text {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 38px;

    &_first-group-item {
      margin-top: 19px;
    }

    &:last-child {
      margin-bottom: 75px;
    }


  }

  &__question {
    display: flex;
    align-items: flex-start;
    cursor: pointer;

    &-text {
      display: flex;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.6px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }

    &-btns {
      display: flex;
      margin-left: 8px;
      margin-top: 5px;
    }

    &-btn {
      display: flex;
    }
  }

  &__answer {
    margin-top: 3px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.4px;

    a {
      text-decoration: underline;
    }

    a.link-default {
      text-decoration: none;
    }

    &_small-top-margin {
      margin-top: 10px;
    }
  }
}
