.footer {
  width: 100%;
  margin-top: 60px;
  padding-left: 40px;
  padding-right: 54px;

  @media (max-width: 768px) {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-desk-cols {
  max-width: 727px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-desk-col {
  width: 100%;
  max-width: 189px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.desk-col__title {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.desk-col__list {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}

.desc-col__text {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    color: var(--red1);
  }
}

.footer-mobile {
  display: none;
}

.newsletter {
  max-width: 476px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__text {
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .field:after,
    .field:before {
      display: none;
    }
  }

  &__btn {
    position: relative;
    padding: 8px 12px;
    background: var(--white);
    border-radius: 0;
    color: var(--black1);
    max-width: 114px;
    width: 100%;
    height: 35px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--black1);
    cursor: pointer;

    &:hover {
      color: var(--white);
      background: var(--black1);
      transition: all 0.3s ease-in-out;
    }
  }
}

.newsletter__field {
  position: relative;
  width: 100%;
  display: flex;
  transition: box-shadow 100ms ease;
}

.newsletter__input {
  padding: 8px 15px !important;
  max-width: 349px !important;
  width: 100%;
  height: 35px;
  margin-right: 13px !important;
  border-radius: 0 !important;
  border: 1px solid var(--black2) !important;
  font-size: 12px !important;
  line-height: 18px !important;
  color: var(--black1) !important;
  box-shadow: unset !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;

  @media (min-width: 768px) and (max-width: 1400px) {
    height: fit-content;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 18px;
    color: var(--gray2);
  }

  &:focus,
  &:focus-visible {
    padding: 17px 0 17px 24px;
    box-shadow: none;
    outline: none;

    @media (min-width: 768px) and (max-width: 1400px) {
      height: fit-content;
      padding: 10px 24px;
    }
  }
}

.footer-bottom-desk {
  display: flex;
  justify-content: center;
  margin-top: 112px;
  margin-bottom: 38px;
}

.ftr-desk__link, .ftr-desk__year {
  margin: 0 20px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    color: var(--red1);
  }
}

.footer-bottom-mobile {
  display: none;
}

.ftr-error-msg-cont, .ftr-success-msg-cont {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  display: none;
}

.ftr-error-msg-cont {
  &_error {
    color: var(--red1) !important;
    border: 1px solid var(--red1) !important;

    &::placeholder {
      color: var(--red1) !important;
    }
  }
}

.ftr-message {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.28px;
  text-align: center;
}

.ftr-message_error {
  color: var(--red1);
}

.ftr-message_success {
  color: var(--gray2);
}

.footer-mobile-soc {
  display: none;
}

@media screen and (max-width: 1160px) {
  .footer-bottom-desk {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer-inner {
    flex-direction: column-reverse;
  }

  .footer-desk-cols {
    display: none;
  }

  .footer-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .newsletter {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .newsletter {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__input {
      max-width: 100% !important;
    }
  }

  .footer-desk-cols {
    display: none;
  }

  .footer-mobile-drpds {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
  }

  .ftr-mobile-drpd {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    &:first-child {
      margin-top: 0;
    }
  }

  .mobile-drpd-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .mobile-drpd-text {
    font-size: 12px;
    line-height: 18px;
    color: var(--black1);
    text-transform: uppercase;
  }

  .ftr-mobile-state {
    display: flex;
    transition: .25s linear;
  }

  .ftr-mobile-state_rotated {
    transform: rotate(180deg);
  }

  .ftr-mobile-drpd-items {
    display: none;
    flex-direction: column;
    margin-top: 14px;
  }

  .ftr-mobile-drpd_open .ftr-mobile-drpd-items {
    display: flex;
  }

  .ftr-mobile-drpd__item {
    display: flex;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .ftr-mobile-drpd-item__text {
    font-size: 12px;
    line-height: 18px;
    color: var(--black1);
    text-transform: uppercase;

    &:hover {
      color: var(--red1);
    }
  }

  .footer-mobile-soc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
  }

  .footer-mobile-soc__item {
    display: flex;
    padding: 8px;
    margin: 10px;
  }

  .footer-mobile-soc__link {
    svg {
      display: flex;
      width: 20px;
      height: 20px;
    }
  }

  .footer-bottom-desk {
    display: none;
  }

  .footer-bottom-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 21px;
  }

  .ftr-mobile__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ftr-mobile__link {
    margin: 0 20px;
    font-size: 12px;
    line-height: 18px;
    color: var(--black1);
    text-transform: uppercase;

    &:hover {
      color: var(--red1);
    }
  }

  .ftr-mobile-year__wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ftr-mobile-year {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;

    &:hover {
      color: var(--red1);
    }
  }

  .ftr-msg-cont {
    position: relative;
    left: 0;
    top: 12px;
    bottom: unset;
    justify-content: flex-start;
    align-items: center;
  }
}
