$breakpoint: 768;
$mobile-mockup: 575;
$tablet-mockup: 1024;
$desktop-mockup: 1440;
$accurate-mobile-width: 767.98;

@mixin size($propName, $mobileValue, $desktopValue) {
  @if $mobileValue {
    #{$propName}: #{$mobileValue / $mobile-mockup * 100}vw;
  }

  @if $desktopValue {
    @media (min-width: #{$breakpoint}px) {
      #{$propName}: #{$desktopValue / $desktop-mockup * 100}vw;
    }
  }
}

@mixin desktopSize($propName, $desktopValue) {
  #{$propName}: #{$desktopValue / $desktop-mockup * 100}vw;
}

@mixin for-desktop {
  @media (min-width: #{$desktop-mockup}px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: #{$tablet-mockup}px) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: #{$breakpoint - 1}px) {
    @content;
  }
}

@mixin for-mobile-accurate {
  @media (max-width: #{$accurate-mobile-width}px) {
    @content;
  }
}

@mixin min-mobile {
  @media (max-width: #{$mobile-mockup}px) {
    @content;
  }
}

@mixin button-hover {
  .caption__link {
    background-color: var(--white);
    color: var(--black2);
    transition: all 0.2s;
  }
}

@mixin preorder-button {
  width: fit-content;
  border: 1px solid var(--black1);
  border-radius: 4px;
  padding: 0 10px;
  font-family: Helvetica Neue;
  font-size: 10px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--black1);
  text-transform: uppercase;
}
