@import "mixins";

.section-recent-products-slider {
    &.hide {
        display: none;
    }
}

.recent-products {
    &-slider {
        padding: 93px 50px 57px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: relative;

        @include for-tablet {
            padding: 93px 30px 57px;
        }

        @include for-mobile {
            padding: 30px 0 0;
        }

        &-title {
            font-family: "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.2px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-bottom: 12px;
            color: var(--black2);

            @include for-mobile {
                font-weight: 400;
                text-align: center;
                margin-bottom: 35px;
            }
        }
    }

    &-swiper {
        overflow: hidden;

        .swiper-wrapper {
            .swiper-slide {
                position: relative;

                &-container {
                    margin-right: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left: 0.3px;

                    @include for-mobile {
                        margin-right: 17px;
                    }
                }

                &-link {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                }

                &-image {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    top: 0;

                    &-container {
                        position: relative;
                        padding-top: 140%;
                        width: 100%;

                        @include for-mobile {
                            height: 346px;
                            width: 231px;
                            padding-top: 0;
                        }
                    }

                    &-info {
                        width: -webkit-fill-available;
                        position: absolute;
                        bottom: -1px;
                        background-color: var(--transparent-white);
                        padding: 13px;
                        display: none;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        z-index: 200;

                        &.show {
                            display: flex;
                        }

                        &-button {
                            display: none;
                            width: 27px;
                            height: 27px;
                            position: absolute;
                            right: 5px;
                            bottom: 5px;
                            background-color: var(--gray3);
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            z-index: 1;

                            @include for-tablet {
                                display: flex;
                            }

                            &.hide {
                                display: none;
                            }
                        }

                        &-sizes {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            flex-wrap: wrap;

                            &-item {
                                margin-right: 15px;
                                font-family: "Helvetica Neue", sans-serif;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 16.8px;
                                letter-spacing: 0.02em;
                                text-align: left;
                                color: var(--black2);

                                &:last-child {
                                    margin-right: 0;
                                }

                                &.selected-size {
                                    font-weight: 500;
                                    text-decoration: underline;
                                }
                            }
                        }

                        &-cart {
                            &-button {
                                font-family: "Helvetica Neue", sans-serif;
                                font-size: 11px;
                                font-weight: 400;
                                line-height: 15.4px;
                                letter-spacing: 0.02em;
                                text-align: center;
                                color: var(--black2);
                                text-transform: uppercase;
                                text-decoration: underline;
                                cursor: pointer;
                                margin-top: 7px;

                                &.hide {
                                    display: none;
                                }
                            }

                            &-loader {
                                width: 100%;
                                display: none;
                                position: absolute;
                                bottom: 21px;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;

                                &.show {
                                    position: absolute;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                &-fill-text {
                                    visibility: hidden;
                                    opacity: 0;
                                    font-family: "Helvetica Neue", sans-serif;
                                    font-size: 11px;
                                    font-weight: 400;
                                    line-height: 15.4px;
                                    letter-spacing: 0.02em;
                                    text-align: center;
                                    color: var(--black2);
                                    text-transform: uppercase;
                                    text-decoration: underline;
                                    margin-top: 7px;
                                }

                                &-circles-wrap {
                                    position: absolute;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                &-circle {
                                    width: 7px;
                                    height: 7px;
                                    background-color: var(--black2);
                                    border-radius: 50%;
                                    margin-right: 10px;

                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                &-text-container {
                    margin-top: 9px;
                    width: 158px;
                    display: flex;
                    flex-direction: column;

                    @include for-mobile {
                        margin-top: 13px;
                        width: 150px;
                    }
                }

                &-title {
                    font-family: "Helvetica Neue", sans-serif;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 15.4px;
                    letter-spacing: 0.02em;
                    text-align: center;
                    text-transform: uppercase;

                    @include for-mobile {
                        font-size: 10px;
                        line-height: 18px;
                        color: var(--black1);
                    }

                    &-price {
                        @include for-mobile {
                            display: none;
                        }
                    }
                }

                &-preorder {
                    width: fit-content;
                    align-self: center;
                    margin-top: 15px;
                    border: 1px solid var(--black1);
                    border-radius: 4px;
                    padding: 0 10px;
                    font-family: Helvetica Neue;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 16.8px;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: var(--black1);
                    text-transform: uppercase;
                }
            }
        }

        &-button-prev {
            height: 18px;
            width: 10px;
            z-index: 99;
            position: absolute;
            top: 45%;
            left: 25px;
            cursor: pointer;

            @include for-tablet {
                display: none;
            }

            &.hide {
                display: none;
            }
        }

        &-button-next {
            height: 18px;
            width: 10px;
            z-index: 99;
            position: absolute;
            top: 45%;
            right: 25px;
            cursor: pointer;

            @include for-tablet {
                display: none;
            }

            &.hide {
                display: none;
            }
        }
    }
}
