@import "mixins";

.returns {
  max-width: 723.31px;
  width: 66.666%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;

  @include for-mobile {
    width: 100%;
  }

  h1, h2, h3, h4, h5, h6, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-weight: 500;
    text-transform: uppercase;
  }

  h1 {
    margin-top: 54px;
    margin-bottom: 27px;
    font-size: 36px;
    line-height: 50.4px;
    letter-spacing: 0.16px;
    text-align: center;

    @include for-mobile {
      margin-top: 42px;
      margin-bottom: 21px;
      font-size: 28px;
      line-height: 39.2px;
    }
  }

  h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.16px;
    text-align: center;

    @include for-mobile {
      margin-top: 27px;
      margin-bottom: 3.5px;
      font-size: 18px;
      line-height: 25.2px;
    }
  }

  p, p span, p a {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0.16px;
    text-align: center;
  }

  div, div a {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.16px;
    text-align: center;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--gray);
    }
  }
}
