@import "mixins";

.title-container {
  display: flex;
  justify-content: space-between;

  .price {
    span {
      font-size: 16px;
      font-weight: 300;
      line-height: 12px;
    }
  }
}

.product-info {
  justify-content: flex-start;
  margin-top: -50px;

  .media-gallery--layout-collage-3.media-gallery-size-medium {
    width: 67.5%;

    @include for-tablet {
      width: 100%;
    }
  }
}

.product-media-collage {
  &.desktop-only {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-media-collage__item {
    display: block;
    width: 49%;
    margin-bottom: 11px;

    &:nth-of-type(2n) {
      margin-left: 10px;
    }
  }
}

.product-form {

  .quantity-submit-row {
    .quantity-submit-row__submit button[type=submit] {
      min-height: 28px;
      padding: 0;
    }

    &.has-spb {
      .btn {
        min-height: 28px;
        padding: 0;
      }
    }

    .add-to-cart {
      background: var(--black1);
      color: var(--white);

      &:hover {
        background: var(--white);
        color: var(--black1);
      }
    }

    .payment-info {
      width: 444px;
      height: 25px;
      margin: 20px 0;
      padding: 0 5px;
      border: 1px solid var(--gray6);
      border-radius: 5px;
      background-color: var(--white);

      span {
        font-size: 14px;
        color: var(--gray1);
        a {
          color: var(--black1);
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }

          &:first-child {
            font-weight: 600;
          }
        }
      }
    }
  }

  .product-type {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--gray5);
    text-transform: uppercase;
  }

  fieldset {
    &.option-selector {
      margin-bottom: 30px;

      &.single-product-options {
        display: flex;
        flex-direction: row;
        align-items: center;

        .label {
          display: block;
          margin-bottom: 8px;
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
          margin-right: 19px;
          text-transform: uppercase;
          letter-spacing: 2%;
          color: var(--gray4);
        }

        .opt-label {
          border: none;
          min-width: unset;
          border-radius: unset;
          padding: 0;
          margin: 0 30px 0 0;
          background: unset;
          text-transform: uppercase;
          font-size: 14px;
          min-height: unset;
        }

        .opt-btn:checked+.opt-label {
          border-bottom: 1px var(--input-border-color-active) solid;
          box-shadow: none;

          span {
            font-weight: 500;
          }
        }
      }

      &.color-switcher {
        &.single-product-options {
          .opt-label {
            border-radius: 50%;
          }
        }
      }

      &.size-chart {
        justify-content: space-between;

        .option-selector__btns {
          margin: -10px 0 0 -50px;
        }

        .size-guide {
          margin-top: -13px;
          text-transform: uppercase;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

.color-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  display: none;
  z-index: 10;
}

.product-info {
  .product-column-right {
    .product-recommendations {
      h4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 18.2px;
        letter-spacing: 2%;
        text-transform: uppercase;
        color: var(--black2);
        margin-bottom: 9px;
      }

      .recommendations-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
      }

      .recommendations-list {
        display: flex;
        flex-wrap: wrap;

        .product {
          width: 45%;
          margin-bottom: 20px;
          position: relative;

          img {
            width: 100%;
            height: 323px;
          }

          &:nth-child(odd) {
            margin-right: 15px;
          }

          &:hover {
            .product__quick-add-panel {
              display: flex;
            }
          }
        }
      }

      .product__title,
      .product__price {
        margin: 5px 0;
      }

      .show-more-btn {
        align-self: center;
        margin: 20px auto 0 auto;
        width: 98px;
        height: 29px;
        border: 0.75px solid var(--black2);
        font-size: 14px;
        text-transform: uppercase;
      }

      .hidden {
        display: none;
      }

      .product__quick-add-panel {
        display: flex;
        position: absolute;
        bottom: 70px;
        z-index: 200;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #fffc;
        transition: all .3s cubic-bezier(.215,.61,.355,1);

        .product__add-to-cart {
          text-transform: uppercase;
          font-size: 12px;
          line-height: 15.4px;
          text-decoration: underline;
          cursor: pointer;
        }

        .product__size-variants {
          display: flex;

          .product__size-variant-text {
            margin-left: 15px;
            font-size: 12px;
            line-height: 16.8px;
            cursor: pointer;
            font-weight: 300;

            &.product__size-variant-text_selected {
              font-weight: 500;
              text-decoration: underline;
            }
          }
        }
      }

      .product__item-bg-img, .product__item-bg-img-hover {
        position: absolute;
        display: block;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        font-size: 0;
        line-height: 1;
        background-color: var(--gray2);
        will-change: transform, opacity;
      }
      .product__item-bg-img-hover {
        visibility: hidden;

        &:hover {
            visibility: visible;
        }
      }
    }

    .recommendations-devider {
      margin-top: 25px;
    }

    .product-title {
      margin-bottom: 0;
      font-size: 20px;
      text-transform: uppercase;
    }

    .product-details {
      text-transform: uppercase;
      font-size: 14px;

      span {
        color: var(--gray4);
      }
    }

    hr {
      margin: 17px 0 25px 0;
    }

    .product-description {
      margin-top: 5px;
      margin-bottom: 25px;
      font-size: 14px;

      p {
        color: var(--gray4);

        span {
          color: var(--gray4);
        }
      }
    }

    .shopify-payment-button {
      display: none;
    }

    #smartwishlist {
      display: none;
    }

    @media (min-width: 768px) {
      max-width: 445px;
      margin-inline-start: 20px;
    }
  }
}

.swatch-style-icon_circle {
  .option-selector {
    .opt-label--swatch {
      &:after {
        width: 25px;
        height: 25px;
      }
    }
  }

  .swatch-method-swatches {
    &.swatch-style-icon_circle {
      .opt-label--swatch {
        &:before {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .option-selector {
    .opt-label--swatch {
      width: 25px;
      height: 25px;
    }
  }
}

.recent-products-slider {
  padding-top: 8px !important;
}




